<!DOCTYPE web-app>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">

    <servlet>
        <servlet-name>Prod</servlet-name> 
        <servlet-class>servs.Prod</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Prod</servlet-name>
        <url-pattern>/Prod.do</url-pattern>
    </servlet-mapping>
</web-app>
